* {
    box-sizing: border-box;
    outline: 0px;
    border-width: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;

}

#left {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

#right {
    padding: 5px 15px 15px 15px;
    height: 100%;
    width: 25%;
    min-width: 250px;
    background: #282828;
    float: right;
    display: flex;
    flex-direction: column;
}

#mainCanvas {
    margin: 0px 0px;
    padding: 0px 0px;
}

.property {
    margin-top: 10px;
    width: 100%;
    background-color: #313030;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'consolas';
    border-radius: 2px;
}


#curveControls {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 25px;
}

#t {
    width: 100%;
}

button{
    background-color: #313030;
    color: white;
    font-size: 20px;
}

.position{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.pointProperty{
    width: 100%;
    background-color: #313030;
    color: white;
    font-size: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#addRemovePointButtonGroup{
    margin-top: 5px;
}

.pointData{
    background-color: rgba(0, 0, 0, 0);
}

.left{
    margin-right: 5px;
}

.right{
    margin-left: 5px;
}

#points{
    overflow-y: auto;
}

#timeControl{
    padding-left: 0;
    margin-top: 0;
}